[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pr = pull --rebase origin master
    ps = push
    st = status
    co = checkout
    cb = checkout -b
    br = branch
    cm = commit -m
    d = diff
    ds = diff --staged
    dc = diff --cached
[user]
    name = junnplus
    email = junnplus@gmail.com
    signingkey = 29B6CE45EEE801B6
[core]
    editor = nvim
[url "https://"]
    insteadOf = git://
[http "https://github.com"]
    proxy = socks5://127.0.0.1:6153
[gpg]
    program = gpg
[commit]
    gpgsign = false
