[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-multiple-cursors"]
	path = .vim/pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".vim/pack/plugins/start/vim-easymotion"]
	path = .vim/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/plugins/start/jedi-vim"]
	path = .vim/pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/indentLine"]
	path = .vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/plugins/start/nerdcommenter"]
	path = .vim/pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/pack/plugins/start/vim-wakatime"]
	path = .vim/pack/plugins/start/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule ".vim/pack/plugins/start/tern_for_vim"]
	path = .vim/pack/plugins/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule ".oh-my-zsh/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/pack/plugins/start/coc.nvim"]
	path = .vim/pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
	branch = release
[submodule ".vim/pack/themes/start/dracula"]
	path = .vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/plugins/start/vim-floaterm"]
	path = .vim/pack/plugins/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".oh-my-zsh/plugins/fzf-tab"]
	path = .oh-my-zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".vim/pack/plugins/start/vim-python-pep8-indent"]
	path = .vim/pack/plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule ".vim/pack/plugins/start/coc-fzf"]
	path = .vim/pack/plugins/start/coc-fzf
	url = https://github.com/antoinemadec/coc-fzf.git
[submodule ".oh-my-zsh/plugins/zsh-completions"]
	path = .oh-my-zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".vim/pack/plugins/start/vimspector.git"]
	path = .vim/pack/plugins/start/vimspector.git
	url = https://github.com/puremourning/vimspector.git
[submodule ".vim/pack/plugins/start/nvim-treesitter"]
	path = .vim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".vim/pack/plugins/start/nvim-toggleterm"]
	path = .vim/pack/plugins/start/nvim-toggleterm
	url = https://github.com/akinsho/nvim-toggleterm.lua.git
[submodule ".vim/pack/plugins/start/nvim-bufferline"]
	path = .vim/pack/plugins/start/nvim-bufferline
	url = https://github.com/akinsho/nvim-bufferline.lua.git
[submodule ".vim/pack/plugins/start/nvim-web-devicons"]
	path = .vim/pack/plugins/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule ".vim/pack/themes/start/tokyonight.nvim"]
	path = .vim/pack/themes/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule ".vim/pack/themes/start/edge"]
	path = .vim/pack/themes/start/edge
	url = https://github.com/sainnhe/edge.git
[submodule ".oh-my-zsh/themes/dracula"]
	path = .oh-my-zsh/themes/dracula
	url = https://github.com/dracula/zsh.git
[submodule ".oh-my-zsh/plugins/wakatime"]
	path = .oh-my-zsh/plugins/wakatime
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git
[submodule ".vim/pack/plugins/start/popup.nvim"]
	path = .vim/pack/plugins/start/popup.nvim
	url = git@github.com:nvim-lua/popup.nvim.git
[submodule ".vim/pack/plugins/start/plenary.nvim"]
	path = .vim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule ".vim/pack/plugins/start/telescope.nvim"]
	path = .vim/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
